.search-category{
    display: flex;
    gap:30px;
    margin-left: 30%;
    margin-top: 10px;
}
.search-category a {
 text-decoration: none;
}

.search-category span{
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: black;
}
.search-category a:hover{
    transform: scale(1.1);
}
.breakfast{
    background-color: #ffff00;
}
.lunch{
    background-color: #8DDA85;
}
.dinner{
    background-color: #BE270C;
}
.snack{
    background-color: #FFC107;
}
.dessert{
    background-color: #A97CFF;
}
h2{
    margin-left: 17%;
    margin-top: 20px;
}
.search-result{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    margin-left: 17%;
    margin-top: 10px;
    margin-bottom: 100px;
    gap: 20px; /* Space between recipe cards */
    max-height: 400px; /* Adjust this height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 20px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc transparent; /* Custom scrollbar color */
    position: relative; /* Ensures the content doesn't affect the body */
    top: 0;
    bottom: 0;
}
