h2{
    margin-left: 17%;
    margin-bottom: 10px; 
}
.recipes{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    margin-left: 17%;
    margin-top: 10px;
    margin-bottom: 100px;
    gap: 20px; /* Space between recipe cards */
    max-height: 400px; /* Adjust this height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 20px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc transparent; /* Custom scrollbar color */
    position: relative; /* Ensures the content doesn't affect the body */
    top: 0;
    bottom: 0;
}