  .main-content {
    margin-left: 15%;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  .section-header {
    margin-bottom: 15px;
  }
  .section-header h2 {
    font-size: 20px;
    color: #555;
  }
